{% extends 'base.html' %}

{% block content %}
<h1>Create a profile </h1>
<!-- <form action="http://www.google.com/search" method="GET"> 
    <input type="text" name="q" placeholder="Your search"/>
    <input type='submit' value='Save' />
</form>

<form action="." method="POST"> {% csrf_token %}
    <input type="text" name="title" placeholder="Your title"/>
    <input type='submit' value='Save' />
</form> -->
<form action="." method="POST"> {%csrf_token%}
    {{form.as_p}}
    <input type='submit' value='Save' />
</form>
{% endblock %}